.text-center
{
    text-align: center;
}
.row
{
    text-align: center;
    padding: 2px;
}
.button
{
    width: 40px;
    padding: 7px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
}
.row input
{
    font-size: 15px;
    width: 160px;
    height: 25px;
    padding: 2px;
    margin: 5px;
    border: 3px solid;
}
.container
{
    text-align: center;
    border: 2px solid;
    width: max-content;
    margin-left: 40%;      
    padding: 0px; */
}